<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.aplikasisenibudaya">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".video_jateng"></activity>
        <activity android:name=".video_banten" />
        <activity android:name=".video_lampung" />
        <activity android:name=".video_sumsel" />
        <activity android:name=".video_babel" />
        <activity android:name=".video_bengkulu" />
        <activity android:name=".video_jambi" />
        <activity android:name=".video_kepriau" />
        <activity android:name=".video_riau" />
        <activity android:name=".info_sultengga" />
        <activity android:name=".info_sulbar" />
        <activity android:name=".info_gorontalo" />
        <activity android:name=".info_kalsel" />
        <activity android:name=".info_kalut" />
        <activity android:name=".info_malut" />
        <activity android:name=".info_yogya" />
        <activity android:name=".info_jateng" />
        <activity android:name=".info_banten" />
        <activity android:name=".info_lampung" />
        <activity android:name=".info_sumsel" />
        <activity android:name=".info_babel" />
        <activity android:name=".info_bengkulu" />
        <activity android:name=".info_jambi" />
        <activity android:name=".info_kepriau" />
        <activity android:name=".info_riau" />
        <activity android:name=".tari_sultengga" />
        <activity android:name=".tari_sulbar" />
        <activity android:name=".tari_gorontalo" />
        <activity android:name=".tari_kalsel" />
        <activity android:name=".tari_kalut" />
        <activity android:name=".tari_malut" />
        <activity android:name=".tari_yogya" />
        <activity android:name=".tari_jateng" />
        <activity android:name=".tari_banten" />
        <activity android:name=".tari_lampung" />
        <activity android:name=".tari_sumsel" />
        <activity android:name=".tari_babel" />
        <activity android:name=".tari_bengkulu" />
        <activity android:name=".tari_jambi" />
        <activity android:name=".tari_kepriau" />
        <activity android:name=".tari_riau" />
        <activity android:name=".provinsi_sultengga" />
        <activity android:name=".provinsi_sulbar" />
        <activity android:name=".provinsi_gorontalo" />
        <activity android:name=".provinsi_kalsel" />
        <activity android:name=".provinsi_kalut" />
        <activity android:name=".provinsi_malut" />
        <activity android:name=".provinsi_yogya" />
        <activity android:name=".provinsi_jateng" />
        <activity android:name=".provinsi_banten" />
        <activity android:name=".provinsi_lampung" />
        <activity android:name=".provinsi_sumsel" />
        <activity android:name=".provinsi_babel" />
        <activity android:name=".provinsi_bengkulu" />
        <activity android:name=".provinsi_jambi" />
        <activity android:name=".provinsi_kepriau" />
        <activity android:name=".provinsi_riau" />
        <activity android:name=".lirik_sulsel" />
        <activity android:name=".lirik_sulteng" />
        <activity android:name=".lirik_sulut" />
        <activity android:name=".lirik_kaltim" />
        <activity android:name=".lirik_kalteng" />
        <activity android:name=".lirik_kalbar" />
        <activity android:name=".lirik_papbar" />
        <activity android:name=".lirik_papua" />
        <activity android:name=".lirik_maluku" />
        <activity android:name=".lirik_ntt" />
        <activity android:name=".lirik_ntb" />
        <activity android:name=".lirik_bali" />
        <activity android:name=".lirik_jatim" />
        <activity android:name=".lirik_jabar" />
        <activity android:name=".lirik_jakarta" />
        <activity android:name=".lirik_sumbar" />
        <activity android:name=".lirik_sumut" />
        <activity android:name=".lirik_aceh" />
        <activity android:name=".info_lagusulsel" />
        <activity android:name=".info_lagusulteng" />
        <activity android:name=".info_lagusulut" />
        <activity android:name=".info_lagukaltim" />
        <activity android:name=".info_lagukalteng" />
        <activity android:name=".info_lagukalbar" />
        <activity android:name=".info_lagupapbar" />
        <activity android:name=".info_lagupapua" />
        <activity android:name=".info_lagumaluku" />
        <activity android:name=".info_laguntt" />
        <activity android:name=".info_laguntb" />
        <activity android:name=".info_lagubali" />
        <activity android:name=".info_lagujatim" />
        <activity android:name=".info_lagujabar" />
        <activity android:name=".info_lagujakarta" />
        <activity android:name=".info_lagusumbar" />
        <activity android:name=".info_lagusumut" />
        <activity android:name=".info_laguaceh" />
        <activity android:name=".lagu_sulteng" />
        <activity android:name=".lagu_sulsel" />
        <activity android:name=".lagu_sulut" />
        <activity android:name=".lagu_kalbar" />
        <activity android:name=".lagu_kalteng" />
        <activity android:name=".lagu_kaltim" />
        <activity android:name=".lagu_maluku" />
        <activity android:name=".lagu_papbar" />
        <activity android:name=".lagu_papua" />
        <activity android:name=".lagu_ntt" />
        <activity android:name=".lagu_ntb" />
        <activity android:name=".lagu_bali" />
        <activity android:name=".lagu_jatim" />
        <activity android:name=".lagu_jabar" />
        <activity android:name=".lagu_jakarta" />
        <activity android:name=".lagu_sumbar" />
        <activity android:name=".lagu_sumut" />
        <activity android:name=".lagu_aceh" />
        <activity android:name=".tari_sumbar1" />
        <activity android:name=".video_sulsel" />
        <activity android:name=".info_sulsel" />
        <activity android:name=".video_sulteng" />
        <activity android:name=".info_sulteng" />
        <activity android:name=".video_sulut" />
        <activity android:name=".info_sulut" />
        <activity android:name=".video_kaltim" />
        <activity android:name=".info_kaltim" />
        <activity android:name=".video_kalteng" />
        <activity android:name=".info_kalteng" />
        <activity android:name=".video_kalbar" />
        <activity android:name=".info_kalbar" />
        <activity android:name=".video_papbar" />
        <activity android:name=".info_papbar" />
        <activity android:name=".video_papua" />
        <activity android:name=".info_papua" />
        <activity android:name=".video_maluku" />
        <activity android:name=".info_maluku" />
        <activity android:name=".video_ntt" />
        <activity android:name=".info_ntt" />
        <activity android:name=".video_ntb" />
        <activity android:name=".info_ntb" />
        <activity android:name=".video_bali" />
        <activity android:name=".info_bali" />
        <activity android:name=".video_jatim" />
        <activity android:name=".info_jatim" />
        <activity android:name=".video_jabar" />
        <activity android:name=".info_jabar" />
        <activity android:name=".video_jakarta" />
        <activity android:name=".info_jakarta" />
        <activity android:name=".video_sumut" />
        <activity android:name=".info_sumut" />
        <activity android:name=".video_aceh" />
        <activity android:name=".info_aceh" />
        <activity android:name=".video_sumbar" />
        <activity android:name=".info_sumbar" />
        <activity android:name=".tari_sulsel" />
        <activity android:name=".tari_sulteng" />
        <activity android:name=".tari_sulut" />
        <activity android:name=".tari_kaltim" />
        <activity android:name=".tari_kalteng" />
        <activity android:name=".tari_kalbar" />
        <activity android:name=".tari_papbar" />
        <activity android:name=".tari_papua" />
        <activity android:name=".tari_maluku" />
        <activity android:name=".tari_ntt" />
        <activity android:name=".tari_ntb" />
        <activity android:name=".tari_bali" />
        <activity android:name=".tari_jatim" />
        <activity android:name=".tari_jabar" />
        <activity android:name=".tari_jakarta" />
        <activity android:name=".tari_sumut" />
        <activity android:name=".tari_aceh" />
        <activity android:name=".provinsi_sulsel" />
        <activity android:name=".provinsi_sulteng" />
        <activity android:name=".provinsi_kaltim" />
        <activity android:name=".provinsi_kalteng" />
        <activity android:name=".provinsi_kalbar" />
        <activity android:name=".provinsi_pabar" />
        <activity android:name=".provinsi_papua" />
        <activity android:name=".provinsi_maluku" />
        <activity android:name=".provinsi_ntt" />
        <activity android:name=".provinsi_ntb" />
        <activity android:name=".bali" />
        <activity android:name=".provinsi_jatim" />
        <activity android:name=".provinsi_jabar" />
        <activity android:name=".provinsi_jakarta" />
        <activity android:name=".provinsi_sumbar" />
        <activity android:name=".provinsi_sumut" />
        <activity android:name=".provinsi_sulut" />
        <activity android:name=".provinsi_aceh" />
        <activity android:name=".sulawesi" />
        <activity android:name=".kalimantan" />
        <activity android:name=".malpa" />
        <activity android:name=".ntbali" />
        <activity android:name=".jawa" />
        <activity android:name=".sumatera" />
        <activity android:name=".home" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>